@{
    ViewData["Title"] = "";
}

<div class="justify-content-center">
    <h3>Nothwind Traders</h3>
    <h0><img src="~/lib/image/1_PRUTFtOeENDpYuYykvHJaQ.jpeg" alt="" /></h0>
</div>
<div class="row">
    <div class="col-md-4">
        <h3><a class="nav-link text-dark" asp-area="" asp-controller="Produtos" asp-action="">Produtos</a> </h3>
        <p>
            <p><img src="~/lib/image/northwind.jpg" alt="" /></p>
            Bem vindo a Northwind produtos!
            Este é um exemplo de aplicativo que
            demonstra como usar o Entity Framework Core
            em um aplicativo da Web ASP.NET Core MVC.
        </p>
    </div>
    <div class="col-md-4">
        <img src="1" alt="" />
        <h3>
            Construa do zero!
        </h3>
        <p><img src="~/lib/image/download.png" alt="" /></p>
        <p>Você pode construir o aplicativo seguindo as etapas de uma série de tutoriais.</p>
        <p><a class="btn btn-outline-dark" href="https://docs.asp.net/en/latest/data/ef-mvc/intro.html">Veja o tutorial &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3>Download</h3>
        <p><img src="~/lib/image/imagesICONGIT.png" alt="" /></p>
        <p>
           Você pode baixar o projeto concluído no GitHub.
        </p>
        <p>
            <a class="btn btn-outline-dark" href="https://github.com/pommot/Northwind">
           Veja o código fonte do projeto. &raquo;
            </a>
        </p>
    </div>
</div>